In [1]:
import pandas as pd

In [26]:
dictionary = {"21-22_Reg":"https://africa.espn.com/nba/stats/player/_/table/offensive/sort/avgPoints/dir/desc",
             "20-21_Post":"https://africa.espn.com/nba/stats/player/_/season/2021/seasontype/3/table/offensive/sort/avgPoints/dir/desc",
             "21-22_Reg":"https://africa.espn.com/nba/stats/player/_/season/2021/seasontype/2/table/offensive/sort/avgPoints/dir/desc"}

In [29]:
tables = pd.read_html(dictionary["21-22_Reg"])

In [30]:
df = tables[0].join(tables[1])

In [31]:
df[['Name','Team']] = df['Name'].str.extract('^(.*?)([A-Z]+)$', expand=True)

In [32]:
df.head()

,RK,Name,POS,GP,MIN,PTS,FGM,FGA,FG%,3PM,...,FT%,REB,AST,STL,BLK,TO,DD2,TD3,PER,Team
0,1,Stephen Curry,PG,63,34.2,32.0,10.4,21.7,48.2,5.3,...,91.6,5.5,5.8,1.2,0.1,3.4,8,0,26.37,GS
1,2,Bradley Beal,SG,60,35.8,31.3,11.2,23.0,48.5,2.2,...,88.9,4.7,4.4,1.2,0.4,3.1,4,0,22.81,WSH
2,3,Damian Lillard,PG,67,35.8,28.8,9.0,19.9,45.1,4.1,...,92.8,4.2,7.5,0.9,0.3,3.0,16,0,25.65,POR
3,4,Joel Embiid,C,51,31.1,28.5,9.0,17.6,51.3,1.1,...,85.9,10.6,2.8,1.0,1.4,3.1,31,0,30.32,PHI
4,5,Giannis Antetokounmpo,PF,61,33.0,28.1,10.3,18.0,56.9,1.1,...,68.5,11.0,5.9,1.2,1.2,3.4,41,7,29.24,MIL

In [33]:
tables[0].head()

   RK                      Name
0   1           Stephen CurryGS
1   2           Bradley BealWSH
2   3         Damian LillardPOR
3   4            Joel EmbiidPHI
4   5  Giannis AntetokounmpoMIL

In [34]:
tables[1].head()

,POS,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,REB,AST,STL,BLK,TO,DD2,TD3,PER
0,PG,63,34.2,32.0,10.4,21.7,48.2,5.3,12.7,42.1,...,6.3,91.6,5.5,5.8,1.2,0.1,3.4,8,0,26.37
1,SG,60,35.8,31.3,11.2,23.0,48.5,2.2,6.2,34.9,...,7.7,88.9,4.7,4.4,1.2,0.4,3.1,4,0,22.81
2,PG,67,35.8,28.8,9.0,19.9,45.1,4.1,10.5,39.1,...,7.2,92.8,4.2,7.5,0.9,0.3,3.0,16,0,25.65
3,C,51,31.1,28.5,9.0,17.6,51.3,1.1,3.0,37.7,...,10.7,85.9,10.6,2.8,1.0,1.4,3.1,31,0,30.32
4,PF,61,33.0,28.1,10.3,18.0,56.9,1.1,3.6,30.3,...,9.5,68.5,11.0,5.9,1.2,1.2,3.4,41,7,29.24

In [35]:
len(df)

50