In [1]:
import sqlalchemy
from os import environ

import numpy as np
import pandas as pd

# from jupyter_dash import JupyterDash
# from dash import html
# from dash.dependencies import Input, Output
# import plotly.express as px
# from dash import dcc

In [2]:
engine = sqlalchemy.create_engine("mariadb+mariadbconnector://"+environ.get("USER")+\
                                  ":"+environ.get("PSWD")+"@127.0.0.1:3306/nba")

In [3]:
A_cols = ['A.Name', 'Matchup', 'Game_day', 'Result','MINS', 'PTS',
 'FGM', 'FGA', 'FGP', 'PM3', 'PA3', 'P3P', 'FTM', 'FTA','FTP',
 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF','Game_ID']

A_cols = ", ".join(A_cols)

In [4]:
fields = "* "

inner_join =  "Box_scores INNER JOIN Players on Box_scores.Player_ID = Players.ID) A "

inner_select = "(SELECT * FROM " + inner_join 

outer_join = "INNER JOIN Teams on Teams.ID=A.Team_ID "

outer_select = "SELECT " + A_cols +  ", Teams.Name as Team FROM " + inner_select  + outer_join

# "ORDER BY Game_day desc"

In [5]:
box_scores = pd.read_sql(outer_select,engine,parse_dates=["Game_day"])

In [6]:
percentages = box_scores.groupby("Team").sum()
percentages['FGP'] = 100*percentages['FGM']/percentages['FGA']
percentages['FTP'] = 100*percentages['FTM']/percentages['FTA']
percentages['P3P'] = 100*percentages['PM3']/percentages['PA3']
percentages['eFG'] = 100*(percentages['FGM']+.5*percentages['PM3'])/percentages['FGA']

In [7]:
percentages['POSS_kept'] = 100*percentages['OREB']/((percentages['FGA']-percentages['FGM'])+\
                                                    (percentages['FTA']-percentages['FTM']))

In [8]:
stat = 'POSS_kept'
s = percentages.sort_values(stat,ascending=False)
# s['Ranking'] = list(range(len(percentages),0,-1))
s['Ranking'] = list(range(1,len(percentages)+1))

In [9]:
s[[stat,'Ranking']]

      POSS_kept  Ranking
Team
MEM   24.626279        1
TOR   23.514851        2
NOP   21.852595        3
MIN   21.044090        4
BOS   21.028173        5
NYK   20.874862        6
IND   20.839161        7
MIA   20.795931        8
UTA   20.689655        9
CLE   20.563035       10
SAS   20.233788       11
DET   20.070423       12
CHA   19.919571       13
BKN   19.828858       14
MIL   19.700819       15
ATL   19.313046       16
PHX   19.292990       17
GSW   19.136905       18
POR   18.843070       19
SAC   18.689788       20
OKC   18.372845       21
DAL   18.267254       22
DEN   18.201285       23
WAS   18.119975       24
LAL   17.957544       25
HOU   17.769744       26
CHI   17.648883       27
LAC   17.573696       28
PHI   16.903185       29
ORL   16.722038       30

In [ ]:
det = box_scores.groupby(["Team","Name"]).sum()

In [17]:
det = det.loc['DET',:]

In [18]:
det['FGP'] = 100*det['FGM']/det['FGA']
det['FTP'] = 100*det['FTM']/det['FTA']
det['P3P'] = 100*det['PM3']/det['PA3']
det['eFG'] = 100*(det['FGM']+.5*det['PM3'])/det['FGA']

In [19]:
det = det.round(1)

In [20]:
det["%OREB"] = 100*det["OREB"]/det["OREB"].sum()
det["%DREB"] = 100*det["DREB"]/det["DREB"].sum()
det["%PTS"] = 100*det["PTS"]/det["PTS"].sum()
det["%AST"] = 100*det["AST"]/det["AST"].sum()
det["%3"] = 100*det["PM3"]/det["PM3"].sum()
det["%FG"] = 100*det["FGM"]/det["FGM"].sum()
det["%FT"] = 100*det["FTM"]/det["FTM"].sum()
det["%STL"] = 100*det["STL"]/det["STL"].sum()
det["%TOV"] = 100*det["TOV"]/det["TOV"].sum()
det["%BLK"] = 100*det["BLK"]/det["BLK"].sum()
det["FTR"] = 100*det["FTA"]/det["FGA"]
det = det.round(1)

In [21]:
det

,MINS,PTS,FGM,FGA,FGP,PM3,PA3,P3P,FTM,FTA,...,%DREB,%PTS,%AST,%3,%FG,%FT,%STL,%TOV,%BLK,FTR
Name,,,,,,,,,,,,,,,,,,,,,
Cade Cunningham,1669,865,330,817,40.4,101,311,32.5,104,123,...,11.8,12.6,17.9,13.8,13.2,9.3,12.4,20.2,10.5,15.1
Cassius Stanley,155,52,19,46,41.3,4,17,23.5,10,10,...,0.7,0.8,0.3,0.5,0.8,0.9,1.0,0.7,0.6,21.7
Cheick Diallo,31,11,3,8,37.5,0,0,NaN,5,6,...,0.4,0.2,0.0,0.0,0.1,0.4,0.2,0.1,0.0,75.0
Cory Joseph,1350,437,152,334,45.5,53,127,41.7,80,92,...,5.5,6.4,13.5,7.3,6.1,7.2,7.2,8.3,5.1,27.5
Deividas Sirvydis,27,3,1,10,10.0,1,7,14.3,0,0,...,0.3,0.0,0.1,0.1,0.0,0.0,0.6,0.0,0.3,0.0
Derrick Walton Jr.,108,19,6,26,23.1,3,13,23.1,4,4,...,0.4,0.3,1.4,0.4,0.2,0.4,1.4,1.2,1.3,15.4
Frank Jackson,982,471,166,406,40.9,77,241,32.0,62,78,...,2.6,6.9,2.8,10.5,6.7,5.6,4.6,3.9,2.9,19.2
Hamidou Diallo,1265,636,261,526,49.6,23,93,24.7,91,140,...,9.9,9.3,4.8,3.1,10.5,8.1,14.1,6.4,5.4,26.6
Isaiah Livers,80,24,9,25,36.0,6,18,33.3,0,0,...,0.1,0.4,0.4,0.8,0.4,0.0,0.8,0.3,0.3,0.0
Isaiah Stewart,1469,469,204,396,51.5,4,25,16.0,57,84,...,14.1,6.9,4.0,0.5,8.2,5.1,3.8,7.9,20.6,21.2
Jamorko Pickett,46,3,1,10,10.0,1,7,14.3,0,0,...,0.3,0.0,0.1,0.1,0.0,0.0,0.0,0.3,0.3,0.0
Jaysean Paige,7,0,0,3,0.0,0,2,0.0,0,0,...,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.1,0.0,0.0
Jerami Grant,1320,775,256,610,42.0,73,217,33.6,190,228,...,6.7,11.3,6.9,10.0,10.3,17.0,7.8,8.5,13.7,37.4
Josh Jackson,705,276,103,251,41.0,30,113,26.5,40,56,...,5.0,4.0,3.2,4.1,4.1,3.6,4.2,4.2,5.7,22.3
Justin Robinson,90,28,9,28,32.1,8,21,38.1,2,6,...,0.2,0.4,0.6,1.1,0.4,0.2,0.2,0.6,0.3,21.4
Kelly Olynyk,571,267,96,228,42.1,31,94,33.0,44,61,...,4.6,3.9,5.4,4.2,3.8,3.9,4.4,4.9,4.1,26.8
Killian Hayes,1298,319,120,333,36.0,33,127,26.0,46,60,...,6.2,4.7,14.6,4.5,4.8,4.1,11.2,9.9,8.6,18.0
Luka Garza,338,151,55,124,44.4,14,41,34.1,27,42,...,1.8,2.2,1.1,1.9,2.2,2.4,1.6,1.9,1.3,33.9
Marvin Bagley III,175,93,42,79,53.2,3,13,23.1,6,14,...,1.3,1.4,0.3,0.4,1.7,0.5,1.0,0.4,0.6,17.7
Micah Potter,31,12,5,11,45.5,0,2,0.0,2,2,...,0.2,0.2,0.0,0.0,0.2,0.2,0.2,0.1,0.3,18.2
Rodney McGruder,554,191,69,155,44.5,41,98,41.8,12,18,...,2.8,2.8,2.0,5.6,2.8,1.1,3.2,1.7,1.6,11.6
Saben Lee,428,147,50,130,38.5,12,44,27.3,35,45,...,2.8,2.1,4.4,1.6,2.0,3.1,5.2,2.9,3.5,34.6
Saddiq Bey,2218,1057,363,922,39.4,169,488,34.6,162,196,...,13.3,15.5,12.4,23.1,14.5,14.5,10.8,9.4,4.8,21.3
Trayvon Palmer,17,0,0,1,0.0,0,0,NaN,0,0,...,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.0
Trey Lyles,990,532,175,384,45.6,44,146,30.1,138,176,...,8.7,7.8,3.8,6.0,7.0,12.4,4.4,6.0,8.3,45.8

In [173]:
b = box_scores[['Team','FGA','FGM','PM3','PA3','Game_day']].groupby(["Team","Game_day"],as_index=False).mean()

In [91]:
c = b[['Team','Game_day']].groupby('Team').count()

In [100]:
means = box_scores[['Team','FGA','FGM','PM3','PA3']].groupby("Team").sum()

In [101]:
for i in means.columns:
    means[i] = means[i]/c['Game_day']
    means[i] = means[i].round(1)

In [102]:
means

       FGA   FGM   PM3   PA3
Team
ATL   87.8  41.1  12.6  33.5
BKN   88.6  41.2  11.2  31.8
BOS   87.4  39.9  12.6  36.6
CHA   92.2  42.2  13.8  38.4
CHI   87.2  42.2  11.1  29.5
CLE   84.4  39.4  11.7  33.1
DAL   85.7  39.2  12.8  36.9
DEN   86.5  41.0  13.0  36.7
DET   88.9  37.7  11.1  34.4
GSW   86.6  40.5  14.5  39.9
HOU   86.1  38.7  13.4  39.0
IND   89.2  40.8  11.9  35.3
LAC   87.4  39.9  12.4  33.9
LAL   88.7  41.2  12.0  34.4
MEM   93.6  43.0  11.1  32.4
MIA   85.3  39.5  13.4  35.5
MIL   88.9  41.0  14.2  39.1
MIN   91.4  41.4  14.6  41.5
NOP   87.4  39.5  10.7  32.6
NYK   86.3  37.5  13.0  36.8
OKC   89.5  37.8  11.7  37.1
ORL   87.9  38.2  11.9  36.1
PHI   84.6  39.2  11.1  31.2
PHX   89.3  43.0  11.5  31.6
POR   86.8  38.7  13.3  37.8
SAC   88.8  40.7  11.4  33.4
SAS   93.5  43.8  11.1  31.5
TOR   91.0  40.3  12.1  34.3
UTA   86.1  40.7  14.5  40.3
WAS   86.2  40.3  10.4  30.8