In [3]:
from selenium import webdriver
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.by import By
import pandas as pd

with webdriver.Chrome() as driver:
    driver.get("https://www.nba.com/stats/leaders/?Season=2020-21&SeasonType=Regular%20Season")
#     s = driver.find_element(By.CLASS_NAME,"stats-table-pagination")
    s = driver.find_element(By.XPATH,"/html/body/main/div/div/div[2]/div/div/nba-stat-table/div[1]/div/div/select")
    s = Select(s)
    s.select_by_visible_text("All")
    html = driver.page_source
tabl2 = pd.read_html(html)[0]

In [4]:
from bs4 import BeautifulSoup

In [4]:
tabl2.tail()

,#,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
232,233,Cody Martin,52,16.3,4.0,1.6,3.6,44.1,0.3,1.1,...,0.8,58.1,1.0,2.1,3.1,1.7,0.7,0.2,0.8,6.5
233,234,Matisse Thybulle,65,20.0,3.9,1.6,3.7,42.0,0.7,2.2,...,0.3,44.4,0.5,1.4,1.9,1.0,1.6,1.1,0.5,6.7
234,235,P.J. Tucker,52,26.1,3.7,1.3,3.4,37.3,0.8,2.3,...,0.5,75.0,1.0,2.9,3.9,1.2,0.8,0.4,0.8,6.9
235,236,Thanasis Antetokounmpo,57,9.7,2.9,1.2,2.4,48.9,0.1,0.5,...,0.9,51.0,0.9,1.2,2.2,0.8,0.4,0.2,0.8,4.1
236,237,Miye Oni,54,9.6,1.9,0.6,1.8,35.4,0.6,1.6,...,0.1,83.3,0.4,1.1,1.6,0.5,0.2,0.1,0.3,2.9

In [12]:
import re

In [37]:
def get_player_and_team_ids(html):
    soup = BeautifulSoup(html)
    table = soup.find("table")
    pids = []
    tids = []
    
    for l in table.find_all('a'):
        player_match = re.search('/player/(\d+)',l.get('href'))
        
        team_match = re.search('/team/(\d+)',l.get('href'))

        if(player_match):
            player_id = int(re.search('\d+',match.group()).group())
            pids.append(player_id)
        elif(team_match):
            team_id = int(re.search('\d+',match.group()).group())
            tids.append(team_id)

In [44]:
soup = BeautifulSoup(html)
table = soup.find("table")
pids = []
tids = []

for l in table.find_all('a'):
    player_match = re.search('/player/(\d+)',l.get('href'))

    team_match = re.search('/team/(\d+)',l.get('href'))

    if(player_match):
        player_id = int(re.search('\d+',player_match.group()).group())
        pids.append(player_id)
    elif(team_match):
        team_id = int(re.search('\d+',team_match.group()).group())
        tids.append(team_id)

In [45]:
tids = []
for l in table.find_all('a'):
    match = re.search('/team/(\d+)',l.get('href'))
    if(match):
        player_id = int(re.search('\d+',match.group()).group())
        tids.append(player_id)

In [47]:
pids

[201939,
 203078,
 203081,
 203954,
 203507,
 1629029,
 203897,
 1629627,
 202681,
 1628369,
 1628378,
 203999,
 1626164,
 1629027,
 1628368,
 202695,
 1627759,
 1629012,
 203944,
 1627742,
 202696,
 202331,
 203924,
 201566,
 201942,
 202710,
 1627783,
 1627763,
 1626179,
 203114,
 1627734,
 1627832,
 202699,
 1630162,
 1629630,
 1629008,
 1628389,
 1626181,
 203952,
 203903,
 201950,
 1628381,
 1629628,
 1629636,
 1628415,
 202685,
 202711,
 203501,
 1627741,
 101108,
 201144,
 203084,
 1630163,
 1627749,
 1626162,
 203471,
 1629018,
 203991,
 1629639,
 1629632,
 1628984,
 1628366,
 1629134,
 1629028,
 203497,
 1627732,
 1626158,
 203925,
 1629652,
 1629060,
 1629647,
 1628449,
 1628374,
 203926,
 203482,
 1626149,
 1628969,
 202694,
 2546,
 1628367,
 201568,
 1629130,
 1630169,
 1629003,
 1629023,
 1628398,
 1628386,
 1629640,
 1628970,
 203115,
 1628973,
 203552,
 203937,
 201572,
 1630180,
 202339,
 1626196,
 201152,
 204060,
 1629673,
 1628989,
 1628977,
 202722,
 1626171,
 1630193,
 200752,
 101150,
 1630256,
 1628976,
 1629675,
 202683,
 1629022,
 201145,
 1628407,
 203493,
 201988,
 202704,
 203200,
 1628978,
 1626224,
 203486,
 1629634,
 1626153,
 203901,
 1630177,
 203109,
 1627854,
 1627827,
 203484,
 1628464,
 1630171,
 1629661,
 201980,
 1629013,
 1630172,
 1630217,
 1627788,
 1629001,
 201577,
 1627826,
 1629659,
 200794,
 1628971,
 1629676,
 1629056,
 203526,
 204456,
 1627751,
 201937,
 203496,
 1629004,
 1626166,
 1628379,
 202709,
 1628425,
 203210,
 201587,
 1629057,
 1630178,
 1629026,
 1630191,
 1629014,
 1630202,
 203107,
 201571,
 203463,
 202684,
 202066,
 203500,
 1628410,
 1629637,
 201599,
 201949,
 1627823,
 1628988,
 203920,
 203145,
 203110,
 1629611,
 1629655,
 1626220,
 2730,
 1627777,
 1630181,
 1627884,
 1626192,
 1630183,
 201952,
 202693,
 203504,
 1630214,
 203458,
 1627756,
 1627814,
 1627936,
 1627789,
 1630184,
 1630166,
 1626145,
 203382,
 1630267,
 1629731,
 203939,
 1629234,
 1627761,
 1629308,
 1628539,
 1629726,
 202954,
 1630170,
 202324,
 1629020,
 1629006,
 1626161,
 1629635,
 203457,
 201188,
 1629162,
 202687,
 1630173,
 1628997,
 202083,
 1629684,
 1628400,
 203918,
 203524,
 1626169,
 2738,
 203118,
 1628975,
 1626172,
 1630167,
 1628998,
 1629680,
 200782,
 203648,
 1629671]

## cols = tabl2.columns

In [6]:
with webdriver.Chrome() as driver:
    driver.get("https://www.nba.com/stats/leaders/?Season=2020-21&SeasonType=Regular%20Season")
    s = driver.find_element(By.CLASS_NAME,"stats-table-pagination")
    s = driver.find_element(By.XPATH,"/html/body/main/div/div/div[2]/div/div/nba-stat-table/div[1]/div/div/select")
    s = Select(s)
    s.select_by_visible_text("All")
    html = driver.page_source
tabl2 = pd.read_html(html)[0]

In [1]:
import pandas as pd
t1 = pd.read_csv("./player_stats/2021/regular_season.csv")

In [6]:
t2 = pd.read_csv("./player_stats/2013-14/regular_season.csv")

In [7]:
t2.head()

,Unnamed: 0,Unnamed: 0.1,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,0,1,Kevin Durant,OKC,25,81,58,23,38.5,32.0,...,7.4,5.5,3.5,1.3,0.7,2.1,51.6,27,3,6.3
1,1,2,Carmelo Anthony,NYK,30,77,35,42,38.7,27.4,...,8.1,3.1,2.6,1.2,0.7,2.9,45.0,22,0,1.4
2,2,3,LeBron James,MIA,29,77,52,25,37.7,27.1,...,6.9,6.3,3.5,1.6,0.3,1.6,47.2,12,1,5.3
3,3,4,Kevin Love,MIN,25,77,39,38,36.3,26.1,...,12.5,4.4,2.5,0.8,0.5,1.8,48.9,65,3,4.6
4,4,5,James Harden,HOU,24,73,48,25,38.0,25.4,...,4.7,6.1,3.6,1.6,0.4,2.4,42.5,14,1,5.6

In [70]:
t1 = t1.sort_values("PTS",ascending=False)

In [71]:
t2 = t2.sort_values("PTS",ascending=False)

In [72]:
t1.head(20)[["Name","PTS"]]

                      Name   PTS
112          Stephen Curry  32.0
513           Bradley Beal  31.3
594         Damian Lillard  28.8
67             Joel Embiid  28.5
301  Giannis Antetokounmpo  28.1
323            Luka Doncic  27.7
210            Zach LaVine  27.4
390        Zion Williamson  27.0
22            Kyrie Irving  26.9
21            Kevin Durant  26.9
611       Donovan Mitchell  26.4
534           Nikola Jokic  26.4
0             Jayson Tatum  26.4
169           Devin Booker  25.6
429             Trae Young  25.3
186           De'Aaron Fox  25.2
150           LeBron James  25.0
342           James Harden  24.8
130          Kawhi Leonard  24.8
556     Karl-Anthony Towns  24.8

In [73]:
t2 = t2.dropna('columns')

In [77]:
t2.head(20)

,Unnamed: 0,Unnamed: 0.1,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,0,1,Stephen Curry,GSW,33,63,37,26,34.2,32.0,...,5.5,5.8,3.4,1.2,0.1,1.9,47.9,8,0,3.9
1,1,2,Bradley Beal,WAS,28,60,32,28,35.8,31.3,...,4.7,4.4,3.1,1.2,0.4,2.3,45.0,4,0,-0.1
2,2,3,Damian Lillard,POR,30,67,39,28,35.8,28.8,...,4.2,7.5,3.0,0.9,0.3,1.5,45.7,16,0,3.0
3,3,4,Joel Embiid,PHI,27,51,39,12,31.1,28.5,...,10.6,2.8,3.1,1.0,1.4,2.4,49.3,31,0,7.9
4,4,5,Giannis Antetokounmpo,MIL,26,61,40,21,33.0,28.1,...,11.0,5.9,3.4,1.2,1.2,2.8,53.9,41,7,6.7
5,5,6,Luka Doncic,DAL,22,66,40,26,34.3,27.7,...,8.0,8.6,4.3,1.0,0.5,2.3,50.5,26,11,2.5
6,6,7,Zach LaVine,CHI,26,58,26,32,35.1,27.4,...,5.0,4.9,3.5,0.8,0.5,2.4,41.0,3,0,-0.2
7,7,8,Zion Williamson,NOP,20,61,29,32,33.2,27.0,...,7.2,3.7,2.7,0.9,0.6,2.2,43.2,14,0,1.5
8,8,9,Kevin Durant,BKN,32,35,23,12,33.1,26.9,...,7.1,5.6,3.4,0.7,1.3,2.0,46.3,12,0,8.0
9,9,10,Kyrie Irving,BKN,29,54,36,18,34.9,26.9,...,4.8,6.0,2.4,1.4,0.7,2.6,45.5,8,0,4.2
10,10,11,Jayson Tatum,BOS,23,64,34,30,35.8,26.4,...,7.4,4.3,2.7,1.2,0.5,1.9,44.1,15,1,2.5
11,11,12,Donovan Mitchell,UTA,24,53,39,14,33.4,26.4,...,4.4,5.2,2.8,1.0,0.3,2.2,40.6,2,0,5.4
12,12,13,Nikola Jokic,DEN,26,72,47,25,34.6,26.4,...,10.8,8.3,3.1,1.3,0.7,2.7,54.7,60,16,5.3
13,13,14,Devin Booker,PHX,24,67,48,19,33.9,25.6,...,4.2,4.3,3.1,0.8,0.2,2.7,37.1,1,0,4.9
14,14,15,Trae Young,ATL,22,63,36,27,33.7,25.3,...,3.9,9.4,4.1,0.8,0.2,1.8,43.1,28,0,4.2
15,15,16,De'Aaron Fox,SAC,23,58,24,34,35.1,25.2,...,3.5,7.2,3.0,1.5,0.5,2.9,43.1,11,0,-3.4
16,16,17,LeBron James,LAL,36,45,30,15,33.4,25.0,...,7.7,7.8,3.7,1.1,0.6,1.6,47.0,18,5,6.4
17,17,18,Kawhi Leonard,LAC,30,52,36,16,34.1,24.8,...,6.5,5.2,2.0,1.6,0.4,1.6,44.2,9,0,8.6
18,18,19,Karl-Anthony Towns,MIN,25,50,19,31,33.8,24.8,...,10.6,4.5,3.2,0.8,1.1,3.7,46.8,33,0,0.2
19,19,20,Jaylen Brown,BOS,24,58,30,28,34.5,24.7,...,6.0,3.4,2.7,1.2,0.6,2.9,39.5,10,0,1.2

In [78]:
t1.head()

,Name,POS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,DR,REB,AST,STL,BLK,TO,PF,AST/TO,PER,Team
112,Stephen Curry,PG,10.4,21.7,48.2,5.3,12.7,42.1,5.7,6.3,...,5.0,5.5,5.8,1.2,0.1,3.4,1.9,1.7,26.37,GS
513,Bradley Beal,SG,11.2,23.0,48.5,2.2,6.2,34.9,6.8,7.7,...,3.5,4.7,4.4,1.2,0.4,3.1,2.3,1.4,22.81,WSH
594,Damian Lillard,PG,9.0,19.9,45.1,4.1,10.5,39.1,6.7,7.2,...,3.7,4.2,7.5,0.9,0.3,3.0,1.5,2.5,25.65,POR
67,Joel Embiid,C,9.0,17.6,51.3,1.1,3.0,37.7,9.2,10.7,...,8.4,10.6,2.8,1.0,1.4,3.1,2.4,0.9,30.32,PHI
301,Giannis Antetokounmpo,PF,10.3,18.0,56.9,1.1,3.6,30.3,6.5,9.5,...,9.4,11.0,5.9,1.2,1.2,3.4,2.8,1.7,29.24,MIL

In [30]:
def get_last_year(year):
    if(year > 2000):
        return year % 2000
    return year % 100

In [24]:
year = 2022
last_n_years = 24
for y in range(year,year-last_n_years,-1):
    year_range = str(y-1) + "-{:0>2d}".format(get_last_year(y))
    print(year_range)

2021-22
2020-21
2019-20
2018-19
2017-18
2016-17
2015-16
2014-15
2013-14
2012-13
2011-12
2010-11
2009-10
2008-09
2007-08
2006-07
2005-06
2004-05
2003-04
2002-03
2001-02
2000-01
1999-00
1998-99

In [81]:
t2.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'PLAYER', 'TEAM', 'AGE', 'GP', 'W', 'L',
       'MIN', 'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA',
       'FT%', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', 'FP',
       'DD2', 'TD3', '+/-'],
      dtype='object')

['PLAYER',
 'TEAM',
 'AGE',
 'GP',
 'W',
 'L',
 'MIN',
 'PTS',
 'FGM',
 'FGA',
 'FG%',
 '3PM',
 '3PA',
 '3P%',
 'FTM',
 'FTA',
 'FT%',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'TOV',
 'STL',
 'BLK',
 'PF',
 'FP',
 'DD2',
 'TD3',
 '+/-']