## The ESPN fantasy league assigns value to some recorded player statistics. The values include:

- Points scored PTS = 1
- Blocks BLK = 4
- Assists AST = 2
- Rebounds REB = 1
- Field goals made FGM = 2
- Free throws made FTM = 1
- Three pointers made PM3 = 1
- Steals STL = 4

## Some values result in a penalty (negative scores):

- Turnovers TOV = -2
- Field goals attempted FGA = -1
- Free throws attempted FTA = -1

The f

In [2]:
stats = {"PTS":1,"BLK":4,"AST":2,"REB":1,"TOV":-2,"FGM":2,"FGA":-1,"FTM":1,"FTA":-1,"PM3":1,"STL":4}

In [3]:
stats.values()

dict_values([1, 4, 2, 1, -2, 2, -1, 1, -1, 1, 4])

### The

In [4]:
import numpy as np

In [5]:
scores = np.array(list(stats.values()))

In [48]:
scores.dtype

dtype('int32')

In [6]:
fs = ", ".join(list(stats.keys()))

In [7]:
fs

'PTS, BLK, AST, REB, TOV, FGM, FGA, FTM, FTA, PM3, STL'

In [8]:
import sqlalchemy
import pandas as pd
from os import environ
from time import localtime

engine = sqlalchemy.create_engine("mariadb+mariadbconnector://"+environ.get("USER")+\
                                  ":"+environ.get("PSWD")+"@127.0.0.1:3306/nba")

In [9]:
fields = "Name, " + fs + ", Game_day "

join =  "Box_scores INNER JOIN Players on Box_scores.Player_ID = Players.ID "

players = ['Russell Westbrook', 'Donovan Mitchell', 'Will Barton', 'Robert Covington','Daniel Gafford',
          'Joel Embiid', 'Coby White', 'Carmelo Anthony', 'Chris Duarte', 'Jordan Clarkson','Luguentz Dort',
          'Damian Lillard', 'Richaun Holmes', 'Dennis Schroder']
condition = "where Name IN " + str(tuple(players))

select = "SELECT "+ fields + " FROM " + join + condition + "ORDER BY Game_day desc"

In [10]:
boxes = pd.read_sql(select,engine)

In [11]:
boxes.head()

,Name,PTS,BLK,AST,REB,TOV,FGM,FGA,FTM,FTA,PM3,STL,Game_day
0,Robert Covington,13,0,0,4,2,4,7,2,2,3,1,2022-02-06
1,Dennis Schroder,22,0,2,4,2,8,15,2,2,4,0,2022-02-06
2,Chris Duarte,22,1,2,5,2,7,12,6,6,2,1,2022-02-06
3,Joel Embiid,40,2,3,10,4,14,23,10,11,2,0,2022-02-06
4,Will Barton,21,1,4,6,2,7,12,5,6,2,0,2022-02-06

In [12]:
def calc_fantasy_points(scores, boxes):
    return scores @ boxes

In [58]:
a = np.array(boxes.values[:,1:-2],dtype = np.int64)

In [59]:
fantasy_points = calc_fantasy_points(scores, a.T)

In [60]:
fantasy_points.shape

(620,)

In [201]:
labeled = np.column_stack((boxes.values[:,0],fantasy_points))

In [61]:
fantasy_points

array([21, 31, 39, 62, 38, 26,  9, 10, 62, 32, 37, 50, 19, 19, 27, 10, 16,
       18, 37, 35, 50, 32, 19, 51, 15, 15, 53, 23, 17, 24,  4, 34, 23, 17,
       10, 22, 38, 32, 35, 21, 47, 25, 21, 56, 14, -5, 31, 14, 54, 20, 40,
       48, 49, 12,  8, 46, 31, 13, 44, 34, 16, 40, 17, 27, 23, 22,  9, 19,
       72, 31, 37, 30, 21, 10, 35, 64, 10, 46, 25, 33, 12,  4, 26, 14, 41,
       28, 51, 37, 48, 64, -2,  8, 16, 35, 11, 58, 25, 21, 29, 18, 34, 30,
       13, 40, 54, 20, 17, 88, 33, 35, 55, 30, 59,  1, 25, 27, 36,  8, 38,
       31, 50,  8, 30, 20, 43, 39, 53, 16,  3, 46, 26, -4, 55,  8, 38, 27,
       34, 30, 23, 31, 30, 33, 37, 25, 15, 30, 23, 57, 61, 11, 41, 32, 34,
       21,  7, 33, 22, 20, 22,  8, 23, 61, 17, 41, 32, 40, 46, 21, 30, 35,
       33, 34, 16, 20, 16, 37, 25, 20, 39, 13, 30, 25, 16, 17, 56, 30, 46,
       70, 39, 30, 19, 38, 24, 37, 40, 42, 26, 24, 51, 35, 61, 16, 56,  9,
       54, 47, 25, 45, 37, 15, 40,  1, 41, 21, 65, 38, 26, 24, 52, 52, 38,
       25, 40, 29,  8, 29, 25,  8, 25, 11, 69, 25, 44, 32, 50, 10, 40, 27,
       49, 20, 10, 22, 41, 25, 10, 14, 16,  4, 38, 14, 26, 64, 36, 28, 22,
       21, 33,  7, 75,  8, 40, 44, 38, 47, 15, 41, 28, 49, 21, 22, 30, 71,
       48, 37, 21,  6, 54, 28, 21, 32, 47, 36, 31, 14, 16, 40, 14, 45, 20,
       44,  8,  0, 15, 28, 33, 45, 29, 10, 42, 27, 42, 27, 14, 17, 16, 25,
        9, 35,  8, 17, 45, 40, 17, 43, 10, 37, 51, 29, 34, 42, 46, 48, 19,
       17, 17, 47, 25, 79, 48, 37, 27, 26, 12,  0, 46, 13, 62,  5, 31, 51,
       36, 17, 32, 21, 24, 51, 19, 15, 19, 37, 41, 15, 49, 44, 19, 11, 20,
       31, 53, 19,  0, 38, 63, 24, 31, 26,  8, 17, 15, 31,  3, 48, 32, 64,
       50, 35, 43,  4, 27, 65, 21, 25, 12, 17, 35, 10, 35, 54, 13, 38, 52,
       -3, 18,  6, 25, 36, 35, 22, 17, 27, 16, 50, 35, 26, 64,  8, 19, 32,
       14, 21, 28, 21,  9, 15, 54, 33, 11, 19, 40, 42, 23, 61, 32,  6, 48,
       21, 18, 37, -5, 34, 22, 23,  8, 10, 17, 30, 24, 44, 43, 36,  1, 20,
       56, 18, 50, 29, 44, 27, 28, 39, -1, 20, 52, 32, 32, 28, 33, 19,  9,
       33, 22, 34, 33, 23, 15, 48, 37, 24, 11,  5, 16, 39, 40, 54, 52,  9,
       56, 11, 20, 62, 55,  6, 16, 46, 15, 38, 18, 19, 43, 24, 57, 27, 53,
       47, 12, 57, 15, 30, 20, 25, 12, 30, 36, 12, 18, 46, 36, 31, 52,  7,
       58, 43, 31, 24, 25, 32, 44, 17, 35, 40, 32, 30, 24, 56, 32, 36, 45,
       13, 22, 21, 42, 25,  4, 26, 56, 14, 19, 31,  3, 36, 32, 41, 18, 45,
       55, 43, 18, 30, 22, 25, 25, 34,  6, 31, 19, 30, 39, 34, 39, 28, 37,
       26, 29, 36, 46, 37, 10, 36, 21, 22, 41, 12, 38, 21, 15, 29, 26, 32,
        1, 67, 20, 29,  6,  9, 23, 20, 48, 38, 56, 39, 29, 60, 23, 22, 35,
       21, 35, 36, 25, 24, 40, 30, 24, 51, 10, 21, 28, 35, 12, 18, 41, 54,
       17, 46, 29, 43, 37, 45,  8, 13], dtype=int64)

In [62]:
boxes["Fantasy Points"] = fantasy_points

In [63]:
boxes["Game_day"] = pd.to_datetime(boxes["Game_day"])

In [64]:
names = boxes["Name"].unique()

In [65]:
names

array(['Robert Covington', 'Dennis Schroder', 'Chris Duarte',
       'Joel Embiid', 'Will Barton', 'Richaun Holmes',
       'Russell Westbrook', 'Daniel Gafford', 'Luguentz Dort',
       'Donovan Mitchell', 'Carmelo Anthony', 'Coby White',
       'Jordan Clarkson', 'Damian Lillard'], dtype=object)

In [86]:
boxes

,Name,PTS,BLK,AST,REB,TOV,FGM,FGA,FTM,FTA,PM3,STL,Game_day,Fantasy Points
0,Robert Covington,13,0,0,4,2,4,7,2,2,3,1,2022-02-06,21
1,Dennis Schroder,22,0,2,4,2,8,15,2,2,4,0,2022-02-06,31
2,Chris Duarte,22,1,2,5,2,7,12,6,6,2,1,2022-02-06,39
3,Joel Embiid,40,2,3,10,4,14,23,10,11,2,0,2022-02-06,62
4,Will Barton,21,1,4,6,2,7,12,5,6,2,0,2022-02-06,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,Joel Embiid,22,1,5,6,1,8,17,4,6,2,1,2021-10-20,43
616,Daniel Gafford,8,4,0,5,1,3,3,2,3,0,2,2021-10-20,37
617,Chris Duarte,27,0,1,5,1,9,15,3,3,6,1,2021-10-20,45
618,Russell Westbrook,8,0,4,5,4,4,13,0,0,0,0,2021-10-19,8
619,Carmelo Anthony,9,0,2,4,1,3,9,1,2,2,0,2021-10-19,13

In [89]:
df["Rolling"] = 1

In [101]:
for i,j in rolls.index:
    df.loc[j,"Rolling"] = rolls.loc[i,j]["Fantasy Points"]

In [87]:
df = boxes.sort_values(["Name","Game_day"],ascending=[False, True])

In [88]:
df

,Name,PTS,BLK,AST,REB,TOV,FGM,FGA,FTM,FTA,PM3,STL,Game_day,Fantasy Points
613,Will Barton,20,0,5,6,0,8,14,0,0,4,1,2021-10-20,46
601,Will Barton,12,0,6,7,0,5,13,0,0,2,0,2021-10-22,30
581,Will Barton,12,2,1,2,2,5,9,1,2,1,2,2021-10-25,29
577,Will Barton,21,1,3,4,4,9,16,2,4,1,1,2021-10-26,32
557,Will Barton,17,0,6,5,2,7,12,1,1,2,0,2021-10-29,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,Carmelo Anthony,9,0,1,3,2,4,11,0,0,1,0,2022-01-27,8
51,Carmelo Anthony,19,2,5,5,1,5,12,7,7,2,2,2022-01-28,48
39,Carmelo Anthony,11,0,1,4,0,5,11,0,0,1,1,2022-01-30,21
20,Carmelo Anthony,24,2,2,8,1,8,12,3,4,5,0,2022-02-02,50
15,Carmelo Anthony,7,1,0,2,2,2,4,1,2,2,0,2022-02-03,10

In [66]:
n = ["Richaun Holmes",'Chris Duarte',"Joel Embiid","Russell Westbrook",'Dennis Schroder']
#, ,"Coby White",'Dennis Schroder']
# "Russell Westbrook","Donovan Mitchell",,"Damian Lillard"

In [67]:
df = boxes.loc[boxes['Name'].isin(n)]
#[])]

In [94]:
rolls= boxes.sort_values(["Name", "Game_day"], ascending=[False,True]).groupby("Name").rolling(5,min_periods =1).mean()
# .rolling(5,min_periods =5).mean()
# df.dtypes

In [81]:
rolls

                             PTS  BLK       AST       REB       TOV  FGM  \
Name
Chris Duarte      617  27.000000  0.0  1.000000  5.000000  1.000000  9.0
                  606  21.000000  0.0  3.000000  4.500000  1.500000  7.5
                  595  20.333333  0.0  2.333333  4.666667  1.333333  7.0
                  584  19.750000  0.0  2.000000  4.750000  1.250000  7.0
                  573  18.600000  0.0  1.800000  4.600000  1.200000  6.8
...                          ...  ...       ...       ...       ...  ...
Russell Westbrook 52   22.400000  0.2  5.600000  6.800000  3.600000  9.0
                  40   22.800000  0.2  6.600000  6.000000  3.800000  9.0
                  19   19.800000  0.2  7.400000  6.200000  4.000000  7.8
                  14   20.200000  0.2  7.400000  6.200000  3.400000  7.8
                  6    17.200000  0.2  8.000000  6.200000  3.000000  6.2

                             FGA       FTM       FTA       PM3   STL  \
Name
Chris Duarte      617  15.000000  3.000000  3.000000  6.000000  1.00
                  606  15.500000  1.500000  1.500000  4.500000  1.00
                  595  17.333333  2.666667  2.666667  3.666667  1.00
                  584  17.000000  2.500000  2.500000  3.250000  0.75
                  573  16.600000  2.000000  2.000000  3.000000  0.80
...                          ...       ...       ...       ...   ...
Russell Westbrook 52   16.800000  3.400000  4.200000  1.000000  1.00
                  40   16.400000  3.400000  4.800000  1.400000  0.60
                  19   15.800000  2.600000  3.800000  1.600000  0.80
                  14   16.600000  2.800000  4.200000  1.800000  0.80
                  6    15.600000  3.400000  5.600000  1.400000  0.80

                       Fantasy Points
Name
Chris Duarte      617       45.000000
                  606       36.500000
                  595       31.333333
                  584       29.250000
                  573       27.600000
...                               ...
Russell Westbrook 52        39.400000
                  40        39.200000
                  19        37.000000
                  14        37.800000
                  6         33.400000

[227 rows x 12 columns]

In [104]:
def drpdwn():
    names = df["Names"].unique()
    d = dcc.Dropdown(names, names[0],id = 'dropdown')
    
    return d

In [24]:
from jupyter_dash import JupyterDash
from dash import html
from dash.dependencies import Input, Output
import plotly.express as px
from dash import dcc

/usr/lib/python3/dist-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.7) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [102]:
fig = px.line(y="Rolling", x="Game_day",color="Name",data_frame = df, markers=True,range_y=(0,100))
fig.update_layout(title ="Fantasy points over time",
                  title_x = 0.5)


app = JupyterDash(__name__)
colours = {'text': '#7FDBFF', 'background':'#333333','radio_button':'#BBBBBB'} 
text_size = {'H1':48,'H2':40,'text':28,'radio_button':20}

app.layout = html.Div(style={'backgroundColor':colours['background'],'fontFamily':'Arial'}, children=[
    html.H1(children="NBA champions defensive performances",
        style = {'textAlign': 'center',
                 'color':colours['text'],
                 'fontSize':text_size['H1']}),
    
#     year_slider(),
    
    drpdwn(),
    
    html.Div(children=[dcc.Graph(figure = fig, id = 'graph')])



])

@app.callback(
    Output('graph','figure'),
    Input('dropdown','value'))
def update_figure(selected):
    d = df.loc[df['Name'].isin(selected)]

#     d = diffs.loc[diffs["YEAR"].between(y[0],y[1])]
    
#     _ , percentages = get_highs_and_percentages(d, stats,len(d))
    fig = px.line(y="Rolling", x="Game_day",color="Name",data_frame = df, markers=True,range_y=(0,100))
    
#     fig.update_layout(title ="Fantasy points over time",
#                   title_x = 0.5)
    return fig

In [103]:
app.run_server(mode = "external")

/home/blunt/.local/lib/python3.7/site-packages/jupyter_dash/jupyter_app.py:139: UserWarning:

The 'environ['werkzeug.server.shutdown']' function is deprecated and will be removed in Werkzeug 2.1.

Dash app running on http://127.0.0.1:8050/

In [32]:
df

,Name,PTS,BLK,AST,REB,TOV,FGM,FGA,FTM,FTA,PM3,STL,Game_day,Fantasy Points
1,Dennis Schroder,22,0,2,4,2,8,15,2,2,4,0,2022-02-06,31
2,Chris Duarte,22,1,2,5,2,7,12,6,6,2,1,2022-02-06,39
3,Joel Embiid,40,2,3,10,4,14,23,10,11,2,0,2022-02-06,62
5,Richaun Holmes,14,1,0,6,3,6,7,2,3,0,1,2022-02-05,26
6,Russell Westbrook,5,1,6,4,4,1,10,3,7,0,1,2022-02-05,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,Richaun Holmes,21,2,2,11,1,9,10,2,3,1,1,2021-10-20,54
614,Dennis Schroder,12,0,8,3,2,5,16,1,2,1,2,2021-10-20,29
615,Joel Embiid,22,1,5,6,1,8,17,4,6,2,1,2021-10-20,43
617,Chris Duarte,27,0,1,5,1,9,15,3,3,6,1,2021-10-20,45
618,Russell Westbrook,8,0,4,5,4,4,13,0,0,0,0,2021-10-19,8

In [ ]:
pd.read_