In [1]:
import sqlalchemy
from os import environ

import numpy as np
import pandas as pd

# from jupyter_dash import JupyterDash
# from dash import html
# from dash.dependencies import Input, Output
# import plotly.express as px
# from dash import dcc

In [2]:
engine = sqlalchemy.create_engine("mariadb+mariadbconnector://"+environ.get("USER")+\
                                  ":"+environ.get("PSWD")+"@127.0.0.1:3306/nba")

In [40]:
A_cols = ['A.Name', 'Matchup', 'Game_day', 'Result','MINS', 'PTS',
 'FGM', 'FGA', 'FGP', 'PM3', 'PA3', 'P3P', 'FTM', 'FTA','FTP',
 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF','Game_ID']

A_cols = ", ".join(A_cols)

In [41]:
fields = "* "

inner_join =  "Box_scores INNER JOIN Players on Box_scores.Player_ID = Players.ID) A "

inner_select = "(SELECT * FROM " + inner_join 

outer_join = "INNER JOIN Teams on Teams.ID=A.Team_ID "

outer_select = "SELECT " + A_cols +  ", Teams.Name as Team FROM " + inner_select  + outer_join

# "ORDER BY Game_day desc"

In [43]:
box_scores = pd.read_sql(outer_select,engine,parse_dates=["Game_day"])

In [60]:
percentages = box_scores[['Team','FGA','FGM','PM3','PA3']].groupby("Team").sum()

In [61]:
percentages['eFG'] = 100*(percentages['FGM']+.5*percentages['PM3'])/percentages['FGA']

In [62]:
box_scores.head()

,Name,Matchup,Game_day,Result,MINS,PTS,FGM,FGA,FGP,PM3,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,Game_ID,Team
0,Onyeka Okongwu,ATL vs. TOR,2022-01-31,L,23,9,3,6,50.00,0,...,2,7,9,1,1,0,1,2,0022100767,ATL
1,Kevin Huerter,ATL vs. TOR,2022-01-31,L,39,26,9,12,75.00,5,...,1,1,2,2,4,2,0,3,0022100767,ATL
2,Lou Williams,ATL vs. TOR,2022-01-31,L,19,7,3,5,60.00,1,...,0,3,3,6,1,0,1,1,0022100767,ATL
3,Danilo Gallinari,ATL vs. TOR,2022-01-31,L,23,7,1,5,20.00,1,...,0,3,3,2,1,0,0,3,0022100767,ATL
4,Bogdan Bogdanovic,ATL vs. TOR,2022-01-31,L,31,18,7,16,43.75,4,...,0,5,5,4,0,0,0,2,0022100767,ATL

In [63]:
percentages.sort_values('eFG')

       FGA   FGM  PM3   PA3        eFG
Team
DET   5688  2410  708  2201  48.593530
OKC   5641  2382  735  2338  48.741358
ORL   5716  2481  773  2347  50.166200
TOR   5730  2536  763  2163  50.916230
NYK   5440  2362  816  2316  50.919118
NOP   5504  2486  676  2053  51.308140
MEM   6085  2793  720  2107  51.815941
SAC   5861  2684  753  2206  52.218052
POR   5471  2441  840  2382  52.293913
IND   5799  2655  774  2293  52.457320
WAS   5345  2497  643  1911  52.731525
LAC   5681  2592  808  2206  52.737194
HOU   5427  2441  844  2454  52.754745
SAS   5983  2801  712  2016  52.766171
BOS   5683  2591  820  2378  52.806616
BKN   5670  2639  714  2037  52.839506
PHI   5329  2470  699  1964  52.908613
MIN   5938  2688  947  2696  53.241832
DAL   5485  2512  819  2362  53.263446
LAL   5586  2598  755  2170  53.267096
CHA   5992  2746  896  2496  53.304406
CLE   5320  2483  735  2084  53.580827
ATL   5531  2588  793  2113  53.959501
MIL   5691  2625  907  2503  54.094184
MIA   5544  2568  868  2308  54.148629
PHX   5623  2710  723  1989  54.623866
CHI   5582  2702  710  1888  54.765317
DEN   5452  2583  819  2312  54.888114
GSW   5540  2592  925  2556  55.135379
UTA   5339  2525  902  2496  55.740775

In [67]:
b = box_scores[['Team','FGA','FGM','PM3','PA3','Game_day']].groupby(["Team","Game_day"],as_index=False).mean()

In [91]:
c = b[['Team','Game_day']].groupby('Team').count()

In [100]:
means = box_scores[['Team','FGA','FGM','PM3','PA3']].groupby("Team").sum()

In [101]:
for i in means.columns:
    means[i] = means[i]/c['Game_day']
    means[i] = means[i].round(1)

In [102]:
means

       FGA   FGM   PM3   PA3
Team
ATL   87.8  41.1  12.6  33.5
BKN   88.6  41.2  11.2  31.8
BOS   87.4  39.9  12.6  36.6
CHA   92.2  42.2  13.8  38.4
CHI   87.2  42.2  11.1  29.5
CLE   84.4  39.4  11.7  33.1
DAL   85.7  39.2  12.8  36.9
DEN   86.5  41.0  13.0  36.7
DET   88.9  37.7  11.1  34.4
GSW   86.6  40.5  14.5  39.9
HOU   86.1  38.7  13.4  39.0
IND   89.2  40.8  11.9  35.3
LAC   87.4  39.9  12.4  33.9
LAL   88.7  41.2  12.0  34.4
MEM   93.6  43.0  11.1  32.4
MIA   85.3  39.5  13.4  35.5
MIL   88.9  41.0  14.2  39.1
MIN   91.4  41.4  14.6  41.5
NOP   87.4  39.5  10.7  32.6
NYK   86.3  37.5  13.0  36.8
OKC   89.5  37.8  11.7  37.1
ORL   87.9  38.2  11.9  36.1
PHI   84.6  39.2  11.1  31.2
PHX   89.3  43.0  11.5  31.6
POR   86.8  38.7  13.3  37.8
SAC   88.8  40.7  11.4  33.4
SAS   93.5  43.8  11.1  31.5
TOR   91.0  40.3  12.1  34.3
UTA   86.1  40.7  14.5  40.3
WAS   86.2  40.3  10.4  30.8