In [1]:
import sqlalchemy
from os import environ

import numpy as np
import pandas as pd

from jupyter_dash import JupyterDash
from dash import html
from dash.dependencies import Input, Output
import plotly.express as px
from dash import dcc

/usr/lib/python3/dist-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.7) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [2]:
engine = sqlalchemy.create_engine("mariadb+mariadbconnector://"+environ.get("USER")+\
                                  ":"+environ.get("PSWD")+"@127.0.0.1:3306/nba")

In [3]:
fields = "Name, Team_ID, PTS, FGM, FGA, FGP, PM3, PA3, P3P, FTM, FTA, FTP, REB, AST, TOV, BLK, STL, Game_day, Result "

join =  "Box_scores INNER JOIN Players on Box_scores.Player_ID = Players.ID "

select = "SELECT "+ fields + " FROM " + join #+ "ORDER BY Game_day desc"

outer_select = "SELECT Teams.Name AS Team, A.* FROM (" + select + ") A INNER JOIN Teams ON A.Team_ID = Teams.ID"

In [4]:
outer_select

'SELECT Teams.Name AS Team, A.* FROM (SELECT Name, Team_ID, PTS, FGM, FGA, FGP, PM3, PA3, P3P, FTM, FTA, FTP, REB, AST, TOV, BLK, STL, Game_day, Result  FROM Box_scores INNER JOIN Players on Box_scores.Player_ID = Players.ID ) A INNER JOIN Teams ON A.Team_ID = Teams.ID'

In [5]:
box_scores = pd.read_sql(outer_select,engine,parse_dates=["Game_day"])

In [6]:
cols = ['Team', 'PTS', 'FGM', 'FGA', 'PM3', 'PA3',
        'FTM', 'FTA', 'REB', 'AST', 'TOV', 'BLK', 'STL']

In [7]:
team_sums = box_scores[cols].groupby("Team").sum()

In [8]:
ts  = team_sums.sort_values(by = "PTS", ascending=False)

In [9]:
ts

       PTS   FGM   FGA  PM3   PA3   FTM   FTA   REB   AST  TOV  BLK  STL
Team
CHA   6829  2528  5540  821  2306   952  1292  2708  1630  772  290  521
MEM   6828  2575  5607  666  1953  1012  1379  2932  1520  759  380  607
MIL   6790  2460  5343  849  2353  1021  1317  2787  1402  775  245  461
MIN   6677  2418  5409  851  2449   990  1297  2644  1483  815  345  511
CHI   6645  2482  5139  662  1760  1019  1248  2558  1444  729  264  418
UTA   6597  2360  4990  843  2335  1034  1321  2673  1295  768  286  414
SAS   6596  2562  5498  657  1855   815  1097  2675  1653  721  302  455
SAC   6592  2434  5332  698  2024  1026  1341  2621  1400  814  277  433
PHX   6592  2506  5204  654  1817   926  1170  2679  1568  721  246  495
IND   6558  2444  5343  706  2110   964  1267  2672  1472  803  329  416
BKN   6536  2442  5231  660  1883   992  1231  2645  1464  766  313  414
BOS   6531  2379  5247  754  2195  1019  1252  2797  1416  809  362  434
GSW   6526  2377  5098  856  2367   916  1200  2702  1605  860  284  548
LAC   6518  2424  5332  757  2088   913  1167  2676  1440  819  278  463
ATL   6510  2381  5093  734  1947  1014  1257  2573  1414  684  255  402
LAL   6433  2402  5154  696  1995   933  1295  2597  1405  813  328  463
MIA   6426  2323  5051  789  2115   991  1220  2644  1520  833  191  441
POR   6382  2306  5139  798  2242   972  1276  2604  1353  771  273  448
DEN   6373  2374  5022  751  2118   874  1107  2549  1572  795  213  414
HOU   6292  2243  4976  769  2239  1037  1448  2456  1335  944  269  417
DAL   6292  2305  5068  748  2181   934  1220  2575  1398  693  241  414
NOP   6274  2299  5140  633  1929  1043  1314  2656  1456  799  249  442
PHI   6236  2282  4937  632  1782  1040  1279  2455  1335  679  324  439
WAS   6209  2316  4989  589  1795   988  1266  2539  1393  738  283  367
ORL   6199  2277  5259  716  2170   929  1180  2604  1394  843  284  412
NYK   6198  2215  5103  770  2186   998  1328  2718  1270  753  298  409
TOR   6194  2296  5186  703  1984   899  1186  2556  1252  683  273  526
CLE   6186  2297  4925  680  1928   912  1208  2602  1465  791  249  418
DET   5948  2163  5137  642  2006   980  1264  2484  1314  802  278  449
OKC   5870  2167  5188  682  2177   854  1121  2674  1243  745  270  434

In [10]:
ts["FGP"] = 100*ts["FGM"]/ts["FGA"]
ts["FTP"] = 100*ts["FTM"]/ts["FTA"]
ts["P3P"] = 100*ts["PM3"]/ts["PA3"]

In [11]:
ts["PM2"] = ts["FGM"] - ts["PM3"]
ts["PA2"] = ts["FGA"] - ts["PA3"]
ts["P2P"] = 100*ts["PM2"]/ts["PA2"]

In [12]:
cols.append("Name")
player_sums = box_scores[cols].groupby(['Name',"Team"]).sum()

In [13]:
ps  = player_sums.sort_values(by = "PTS", ascending=False)

In [14]:
ps["FGP"] = 100*ps["FGM"]/ps["FGA"]
ps["FTP"] = 100*ps["FTM"]/ps["FTA"]
ps["P3P"] = 100*ps["PM3"]/ps["PA3"]

In [15]:
ps["PM2"] = ps["FGM"] - ps["PM3"]
ps["PA2"] = ps["FGA"] - ps["PA3"]
ps["P2P"] = 100*ps["PM2"]/ps["PA2"]

In [16]:
ps.head()

,,PTS,FGM,FGA,PM3,PA3,FTM,FTA,REB,AST,TOV,BLK,STL,FGP,FTP,P3P,PM2,PA2,P2P
Name,Team,,,,,,,,,,,,,,,,,,
DeMar DeRozan,CHI,1547,566,1094,34,99,381,440,287,283,129,17,47,51.736746,86.590909,34.343434,532,995,53.467337
Trae Young,ATL,1475,495,1085,158,413,327,364,206,493,217,5,53,45.622120,89.835165,38.256659,337,672,50.148810
Giannis Antetokounmpo,MIL,1443,496,906,58,188,393,545,551,296,162,68,48,54.746137,72.110092,30.851064,438,718,61.002786
Jayson Tatum,BOS,1439,500,1153,154,468,285,336,469,233,162,40,54,43.365134,84.821429,32.905983,346,685,50.510949
Stephen Curry,GSW,1393,452,1058,251,663,238,259,286,342,175,21,74,42.722117,91.891892,37.858220,201,395,50.886076

In [17]:
det_ps = ps.filter(like = "DET", axis=0)

In [18]:
det_ps

,,PTS,FGM,FGA,PM3,PA3,FTM,FTA,REB,AST,TOV,BLK,STL,FGP,FTP,P3P,PM2,PA2,P2P
Name,Team,,,,,,,,,,,,,,,,,,
Saddiq Bey,DET,925,317,817,149,431,142,171,337,163,73,13,53,38.800490,83.040936,34.570766,168,386,43.523316
Cade Cunningham,DET,692,263,668,89,272,77,90,241,227,156,29,57,39.371257,85.555556,32.720588,174,396,43.939394
Jerami Grant,DET,627,207,498,58,171,155,184,141,83,66,35,32,41.566265,84.239130,33.918129,149,327,45.565749
Hamidou Diallo,DET,564,232,470,20,83,80,123,251,64,50,17,61,49.361702,65.040650,24.096386,212,387,54.780362
Trey Lyles,DET,532,175,384,44,146,138,176,244,58,54,26,22,45.572917,78.409091,30.136986,131,238,55.042017
Frank Jackson,DET,468,165,402,76,238,62,78,69,41,33,9,22,41.044776,79.487179,31.932773,89,164,54.268293
Isaiah Stewart,DET,415,182,348,3,24,48,72,421,55,63,57,17,52.298851,66.666667,12.500000,179,324,55.246914
Cory Joseph,DET,380,132,292,48,111,68,80,118,184,68,12,32,45.205479,85.000000,43.243243,84,181,46.408840
Killian Hayes,DET,285,107,296,31,113,40,49,133,187,79,23,47,36.148649,81.632653,27.433628,76,183,41.530055
Josh Jackson,DET,276,103,251,30,113,40,56,123,49,38,18,21,41.035857,71.428571,26.548673,73,138,52.898551
Kelly Olynyk,DET,203,73,181,22,74,35,51,102,58,36,11,19,40.331492,68.627451,29.729730,51,107,47.663551
Luka Garza,DET,151,55,124,14,41,27,42,87,16,17,4,8,44.354839,64.285714,34.146341,41,83,49.397590
Rodney McGruder,DET,149,55,122,29,73,10,14,62,27,13,3,13,45.081967,71.428571,39.726027,26,49,53.061224
Saben Lee,DET,137,46,122,12,44,33,43,66,64,25,10,26,37.704918,76.744186,27.272727,34,78,43.589744
Cassius Stanley,DET,52,19,46,4,17,10,10,19,4,6,2,5,41.304348,100.000000,23.529412,15,29,51.724138
Justin Robinson,DET,28,9,28,8,21,2,6,7,9,5,1,1,32.142857,33.333333,38.095238,1,7,14.285714
Derrick Walton Jr.,DET,19,6,26,3,13,4,4,10,21,11,4,7,23.076923,100.000000,23.076923,3,13,23.076923
Marvin Bagley III,DET,16,7,17,0,1,2,7,14,1,1,0,0,41.176471,28.571429,0.000000,7,16,43.750000
Micah Potter,DET,12,5,11,0,2,2,2,9,0,1,1,1,45.454545,100.000000,0.000000,5,9,55.555556
Cheick Diallo,DET,11,3,8,0,0,5,6,12,0,1,0,1,37.500000,83.333333,NaN,3,8,37.500000
Deividas Sirvydis,DET,3,1,10,1,7,0,0,6,1,0,1,3,10.000000,NaN,14.285714,0,3,0.000000
Jamorko Pickett,DET,3,1,10,1,7,0,0,9,1,3,1,0,10.000000,NaN,14.285714,0,3,0.000000
Trayvon Palmer,DET,0,0,1,0,0,0,0,2,0,1,0,0,0.000000,NaN,NaN,0,1,0.000000
Isaiah Livers,DET,0,0,2,0,2,0,0,0,0,1,1,1,0.000000,NaN,0.000000,0,0,NaN
Jaysean Paige,DET,0,0,3,0,2,0,0,1,1,1,0,0,0.000000,NaN,0.000000,0,1,0.000000

In [19]:
det_ts = ts.filter(like = "DET", axis=0)

In [20]:
det_ts

,PTS,FGM,FGA,PM3,PA3,FTM,FTA,REB,AST,TOV,BLK,STL,FGP,FTP,P3P,PM2,PA2,P2P
Team,,,,,,,,,,,,,,,,,,
DET,5948,2163,5137,642,2006,980,1264,2484,1314,802,278,449,42.106288,77.531646,32.003988,1521,3131,48.578729

In [21]:
det_ps["PTS Contribution"] = 100*det_ps["PTS"]/det_ts["PTS"]

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
det_ps.head().sum()

PTS                 3340.000000
FGM                 1194.000000
FGA                 2837.000000
PM3                  360.000000
PA3                 1103.000000
FTM                  592.000000
FTA                  744.000000
REB                 1214.000000
AST                  595.000000
TOV                  399.000000
BLK                  120.000000
STL                  225.000000
FGP                  214.672631
FTP                  396.285363
P3P                  155.442854
PM2                  834.000000
PA2                 1734.000000
P2P                  242.850838
PTS Contribution      56.153329
dtype: float64

In [23]:
def rank_by_stats(ts):
    stats = ts.columns
    df = pd.DataFrame(index=ts.index)
    ranks = list(range(1,len(ts.index)+1))

    for s in stats:
        rank_field = s+"_rank"
        ranked_stat = ts[[s]].sort_values(s,ascending=False)
        ranked_stat[rank_field] = ranks
        df[[s,rank_field]] = ranked_stat
        
    return df

In [53]:
df = rank_by_stats(ts)

In [25]:
df[["BLK","BLK_rank","STL","STL_rank", "TOV", "TOV_rank", "REB","REB_rank", "AST","AST_rank"]]

,BLK,BLK_rank,STL,STL_rank,TOV,TOV_rank,REB,REB_rank,AST,AST_rank
Team,,,,,,,,,,
CHA,290,10,521,4,772,16,2708,5,1630,2
MEM,380,1,607,1,759,20,2932,1,1520,7
MIL,245,27,461,9,775,15,2787,3,1402,18
MIN,345,3,511,5,815,6,2644,15,1483,8
CHI,264,22,418,19,729,24,2558,24,1444,13
UTA,286,11,414,25,768,18,2673,11,1295,27
SAS,302,8,455,10,721,26,2675,9,1653,1
SAC,277,17,433,18,814,7,2621,17,1400,19
PHX,246,26,495,6,721,25,2679,7,1568,5
IND,329,4,416,22,803,10,2672,12,1472,9
BKN,313,7,414,26,766,19,2645,14,1464,11
BOS,362,2,434,17,809,9,2797,2,1416,15
GSW,284,12,548,2,860,2,2702,6,1605,3
LAC,278,15,463,7,819,5,2676,8,1440,14
ATL,255,23,402,29,684,28,2573,23,1414,16
LAL,328,5,463,8,813,8,2597,21,1405,17
MIA,191,30,441,14,833,4,2644,16,1520,6
POR,273,19,448,12,771,17,2604,18,1353,23
DEN,213,29,414,23,795,13,2549,26,1572,4
HOU,269,21,417,21,944,1,2456,29,1335,24
DAL,241,28,414,24,693,27,2575,22,1398,20
NOP,249,25,442,13,799,12,2656,13,1456,12
PHI,324,6,439,15,679,30,2455,30,1335,25
WAS,283,14,367,30,738,23,2539,27,1393,22
ORL,284,13,412,27,843,3,2604,19,1394,21
NYK,298,9,409,28,753,21,2718,4,1270,28
TOR,273,18,526,3,683,29,2556,25,1252,29
CLE,249,24,418,20,791,14,2602,20,1465,10
DET,278,16,449,11,802,11,2484,28,1314,26
OKC,270,20,434,16,745,22,2674,10,1243,30

In [26]:
from sklearn.preprocessing import MinMaxScaler

In [27]:
scaler = MinMaxScaler()

In [54]:
data = scaler.fit_transform(df[list(ts.columns)])

In [55]:
df[list(ts.columns)] = data*10

In [56]:
ranks = []
stats = ["P3P","P2P","FGP","PTS","AST","BLK","TOV","STL"]#list(ts.columns)
teams = list(ts.index)
for i in stats:
    ranks.append(i+"_rank")

In [57]:
df = df[stats+ranks]

In [58]:
df["Team"] = teams

In [59]:
df

,P3P,P2P,FGP,PTS,AST,BLK,TOV,STL,P3P_rank,P2P_rank,FGP_rank,PTS_rank,AST_rank,BLK_rank,TOV_rank,STL_rank,Team
Team,,,,,,,,,,,,,,,,,
CHA,6.709965,4.912170,5.916636,10.000000,9.439024,5.238095,3.509434,6.416667,9,16,18,1,2,10,16,4,CHA
MEM,4.353549,4.282621,6.365432,9.989572,6.756098,10.000000,3.018868,10.000000,24,22,15,2,7,1,20,1,MEM
MIL,7.461471,6.193511,6.544377,9.593326,3.878049,2.857143,3.622642,3.916667,7,9,13,3,18,27,15,9,MIL
MIN,5.369783,5.094741,4.494278,8.415016,5.853659,8.148148,5.132075,6.000000,19,15,25,4,8,3,6,5,MIN
CHI,9.865985,6.173053,10.000000,8.081335,4.902439,3.862434,1.886792,2.125000,2,10,1,5,13,22,24,19,CHI
UTA,7.494722,10.000000,8.463901,7.580813,1.268293,5.026455,3.358491,1.958333,6,1,3,6,27,11,18,25,UTA
SAS,6.419633,4.338647,7.397969,7.570386,10.000000,5.873016,1.584906,3.666667,14,20,10,7,1,8,26,10,SAS
SAC,4.957461,4.556870,5.942898,7.528676,3.829268,4.550265,5.094340,2.750000,20,17,17,8,19,17,7,18,SAC
PHX,7.323039,7.128296,9.782365,7.528676,7.926829,2.910053,1.584906,5.333333,8,4,2,9,5,26,25,6,PHX
IND,3.346461,6.051575,6.085640,7.174140,5.585366,7.301587,4.679245,2.041667,25,12,16,10,9,4,10,22,IND
BKN,5.843100,5.429623,7.527370,6.944734,5.390244,6.455026,3.283019,1.958333,17,14,6,11,11,7,19,26,BKN
BOS,4.745002,5.450617,5.469975,6.892596,4.219512,9.047619,4.905660,2.791667,21,13,21,12,15,2,9,17,BOS
GSW,7.590675,8.313315,7.439889,6.840459,8.829268,4.920635,6.830189,7.541667,5,3,8,13,3,12,2,2,GSW
LAC,7.733292,3.281377,5.655596,6.757039,4.804878,4.603175,5.283019,4.000000,4,25,20,14,14,15,5,7,LAC
ATL,10.000000,4.408898,7.630325,6.673618,4.170732,3.386243,0.188679,1.458333,1,18,5,15,16,23,28,29,ATL
LAL,5.586907,6.339366,7.406878,5.870699,3.951220,7.248677,5.056604,4.000000,18,6,9,16,17,5,8,8,LAL
MIA,9.381529,4.287108,6.466776,5.797706,6.756098,0.000000,5.811321,3.083333,3,21,14,17,6,30,4,14,MIA
POR,6.694969,4.060314,4.753583,5.338895,2.682927,4.338624,3.471698,3.375000,10,23,23,18,23,19,17,12,POR
DEN,6.482709,8.540620,8.429302,5.245047,8.024390,1.164021,4.377358,1.958333,12,2,4,19,4,29,13,23,DEN
HOU,4.736986,6.164286,5.065819,4.400417,2.243902,4.126984,10.000000,2.083333,22,11,22,20,24,21,1,21,HOU
DAL,4.659303,6.254055,5.686367,4.400417,3.780488,2.645503,0.528302,1.958333,23,8,19,21,20,28,27,24,DAL
NOP,2.334478,3.862036,4.531586,4.212722,5.195122,3.068783,4.528302,3.125000,27,24,24,22,12,25,12,13,NOP
PHI,6.494935,4.345508,6.821424,3.816475,2.243902,7.037037,0.000000,3.000000,11,19,12,23,25,6,30,15,PHI
WAS,2.332031,6.416129,7.127384,3.534932,3.658537,4.867725,2.226415,0.000000,28,5,11,24,22,14,23,30,WAS
ORL,2.617711,2.284709,2.340331,3.430657,3.682927,4.920635,6.188679,1.875000,26,26,28,25,21,13,3,27,ORL
NYK,6.115723,1.119868,2.506748,3.420229,0.658537,5.661376,2.792453,1.750000,16,28,27,26,28,9,21,28,NYK
TOR,6.444239,1.368690,3.835212,3.378519,0.219512,4.338624,0.150943,6.625000,13,27,26,27,29,18,29,3,TOR
CLE,6.187223,6.280387,7.460517,3.295099,5.414634,3.068783,4.226415,2.125000,15,7,7,28,10,24,14,20,CLE
DET,1.061716,0.000000,0.515972,0.813347,1.731707,4.603175,4.641509,3.416667,29,30,29,29,26,16,11,11,DET
OKC,0.000000,0.865120,0.000000,0.000000,0.000000,4.179894,2.490566,2.791667,30,29,30,30,30,20,22,16,OKC

In [66]:
d = df[["Team","PTS","PTS_rank"]]
fig = px.bar(y="PTS", x="Team",data_frame = d)#,range_y=(-0,11),markers=True)
# fig.update_layout(title ="Fantasy points during current season", xaxis_title = "Game Day",
#                   title_x = 0.5,yaxis_title = "4 game Rolling mean / Fantasy points")


app = JupyterDash(__name__)

app.layout = html.Div(className="p-heading",
                      children=[html.H1(children="ESPN Fantasy Analysis"),
                                html.Div(children=[dcc.Graph(figure = fig, id = 'graph')])
#                                 html.Div(children=[dcc.Graph(figure = fig2, id = 'graph2')]),
#         html.Div(children=[dcc.Graph(figure = fig3, id = 'graph3')])
])

# @app.callback(
#     Output('graph','figure'),
# #     Output('graph2','figure'),
# #     Output('graph3','figure'),
# #     Input('g1','value'))
# def update_figure(selected):
#     d = box_scores.loc[box_scores['Name'].isin(selected)]
    
#     fig = px.line(y="Rolling", x="Game_day",color="Name",data_frame = d, markers=True,range_y=(0,100))
    
#     fig.update_layout(title ="Fantasy points during current season", xaxis_title = "Game Day",
#                   title_x = 0.5,yaxis_title = "4 game Rolling mean / Fantasy points")
    
#     fig2 = px.histogram(d, x= "Fantasy Points",color = "Name",marginal = 'box',barmode='overlay',
#                         histnorm="probability")
    
#     fig3 = px.ecdf(d,x="Fantasy Points",color="Name")

    
#     return fig,fig2,fig3

In [67]:
app.run_server(mode = "external")

Dash app running on http://127.0.0.1:8050/

/home/blunt/.local/lib/python3.7/site-packages/jupyter_dash/jupyter_app.py:139: UserWarning:

The 'environ['werkzeug.server.shutdown']' function is deprecated and will be removed in Werkzeug 2.1.